<h2>{{title}}</h2>
{{#if patches}}
  <ul class="patch-list">
    {{#each patches}}
      <li class="patch-head">
        <h3>{{@key}}</h3>
      </li>
      {{#each this}}
        <li class="patch-item">
          <div class="patch-thumb">
            <a href="/patch/view/{{uid}}" class="thumb"><img src="/patch/svg/{{uid}}" /></a>
            {{#if_eq status 'complete'}}
              <a href="/patch/download/{{uid}}/png" class="download-link">
                <span class="icon icon-arrow-down"></span>
              </a>
            {{/if_eq}}
          </div>
          <div class="patch-info">
            <h4><a href="/quilts/view/{{_quilt._id}}">{{_quilt.title}}</a></h4>
            <span class="status">{{status}}</span>
            {{#if_eq status 'progress'}} [<a href="/patch/edit/{{uid}}">Edit</a>]{{else}}
              {{#if_eq ../../user.usertype 'admin'}} [<a href="/patch/edit/{{uid}}">Edit</a>]{{/if_eq}}
            {{/if_eq}}
          </div>
        </li>
      {{/each}}
    {{/each}}
  </ul>
{{/if}}