{{#section 'footer'}}
  <script src="/js/quilt.min.js"></script>
{{/section}}
<form class="create-quilt-form" action="/quilts/create" method="post">

  <fieldset class="form-group create-quilt-field">
    <label for="input-title">Quilt Name</label>
    <input type="text" name="title" id="input-title" class="input-title form-control" placeholder="Quilt Name" />
  </fieldset>
  <div class="form-group create-quilt-field">
    <label for="input-theme">Select a Theme</label>
    <input type="hidden" name="theme" id="input-theme" class="input-theme" placeholder="Theme" />
    <div class="selected-theme">Select a theme</div>
    <div class="carousel theme-carousel" data-target=".input-theme">
      {{#each themes}}
        <div class="theme" data-id="{{id}}" data-name="{{name}}">
          <div class="theme-name">{{name}}</div>
          {{#each colors}}
            <ul class="swatches">
              {{#each colors}}
                <li class="swatch" style="background-color:#{{this}}">&nbsp;</li>
              {{/each}}
            </ul>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
  {{#if_eq user.usertype 'admin'}}
    <fieldset class="form-group create-quilt-field">
      [admin only option]<br />
      <input type="radio" name="type" class="input-type" id="public" value="public" checked /> <label for="public">Pubilc</label><br />
      <input type="radio" name="type" class="input-type" id="private" value="private" /> <label for="private">Private</label>
    </fieldset>
  {{else}}
    <input type="hidden" name="type" class="input-type" id="private" value="private" />
  {{/if_eq}}

  <div class="create-quilt-button">
    <input type="submit" value="Create Quilt" class="submit-create-quilt">
  </div>

</form>
