{{#section 'footer'}}
  <script src="/js/quilt.min.js"></script>
{{/section}}

  <h2>{{quilt.title}} [{{quilt.type}}]</h2>

  {{#if_eq quilt.type "private"}}
    <h5>By: {{quilt._user.username}}</h5>
  {{/if_eq}}

  {{#if patches}}
    <ul class="quilt-list">
      {{#each patches}}
        <li class="patch-list-item">
          {{#if_eq status "new"}}
            <a href="/patch/edit/{{uid}}" class="patch-item-link status-{{status}}">{{status}}</a>
          {{/if_eq}}
          {{#if_eq status "progress"}}
            <span class="patch-item-link status-{{status}}">{{status}}</span>
          {{/if_eq}}
          {{#if_eq status "mine"}}
            <a href="/patch/edit/{{uid}}" class="patch-item-link status-{{status}}">{{status}}</a>
          {{/if_eq}}
          {{#if_eq status "complete"}}
            <a href="/patch/view/{{uid}}" class="patch-item-link status-{{status}}">{{status}}</a>
          {{/if_eq}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <div id="donation-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Great!</h4>
        </div>
        <div class="modal-body">
          <p>Would you like to donate $1 to help our cause?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">Yes Please!</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No Thanks</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="confirmation-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Please confirm you want to select this square.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Ok</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div id="alert-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Finish previous patch</h4>
      </div>
      <div class="modal-body">
        <p>Please work on one patch at a time.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->