{{#if patches}}
  <div class="data" id="quilt-data"{{#if newPatch}} data-new-patch="{{newPatch}}"{{/if}}>
    {{quiltData}}
  </div>
  <div class="quilt-container">
    <div id="canvas-container" class="canvas-container" data-quilt-id="{{quilt.id}}">
      <div class="grid-spacer" id="grid-spacer"></div>
      <canvas id="grid-area" class="grid-area"></canvas>
    </div>
    <div class="patch-preview" id="patch-preview"></div>
  </div>
{{/if}}

{{#if showActions}}
  {{>patch-actions patchId=showActions}}
{{/if}}

<h2 class="quilt-name {{quilt.type}}">
  {{quilt.title}}
  {{#if_eq quilt.type "private"}}
    <span class="quilt-user">By: {{quilt._user.username}}</span>
  {{/if_eq}}
</h2>

{{>theme }}

{{#if_eq user.id quilt._user.id}}
  <div class="owner-options">
    {{#if invites}}
      <div class="invited">
        <h4>Invited Friends:</h4>
        <ul>
          {{#each invites}}
            <li class="invited-email">{{email}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    <form action="/quilts/invite/{{quilt.id}}" id="invite-form" method="post">
      {{>invite}}
      <button type="submit" class="btn btn-invite">Invite</button>
    </form>
  </div>
{{/if_eq}}
