<div class="carousel theme-carousel" data-target=".input-theme">
  {{#each themes}}
    <div class="theme" data-id="{{id}}" data-name="{{name}}">
      <div class="theme-name">{{name}}</div>
      {{#each colors}}
        <ul class="swatches">
          {{#each colors}}
            <li class="swatch" style="background-color:#{{this}}">&nbsp;</li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  {{/each}}
</div>

<form action="/quilts/update/{{quilt._id}}/theme" class="theme-form" method="post">
  <input type="hidden" name="theme" id="input-theme" value="{{quilt._theme._id}}" class="input-theme" placeholder="Theme" />
  <div class="update-quilt-button">
    <input type="submit" value="Update Theme" class="submit-update-quilt">
  </div>
</form>