<h3>Complete and In-progress Patches</h3>

{{#if patches}}
  <ul class="patch-list">
    {{#each patches}}
      <li class="patch-item">
        <div class="patch-thumb">
          <a href="/patch/view/{{uid}}" class="thumb"><img src="/patch/svg/{{uid}}" /></a>
        </div>
        <div class="patch-info">
          <h4><a href="/quilts/view/{{_quilt}}">{{_quilt.title}}</a></h4>
          {{status}} [<a href="/patch/edit/{{uid}}">Edit</a>]
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}