{{#section 'footer'}}
  <script src="/js/patch.min.js"></script>
{{/section}}

<form action="/patch/start/{{patch.uid}}" method="post" class="start-patch-form">

  <!-- Colour set selection carousel -->
  <div class="theme-name">{{theme.name}}</div>
  <div class="carousel theme-carousel theme" data-id="{{theme.id}}" data-name="{{theme.name}}" data-target=".input-colour-set">
    {{#each theme.colors}}
      <ul class="swatches">
        {{#each colors}}
          <li class="swatch" style="background-color:#{{this}}">&nbsp;</li>
        {{/each}}
      </ul>
    {{/each}}
  </div>

  <input type="submit" value="Start" />

</form>