
  {{#if user.fb.id}}
    <img src="https://graph.facebook.com/{{user.fb.id}}/picture?type=square" />
  {{/if}}

  {{#if user}}
  <h2>
    You are logged in as: {{user.username}}
    {{#if user.usertype}}
      [{{user.usertype}}]
    {{/if}}
  </h2>
  <ul>
    {{#if_eq user.usertype 'admin'}}
      <li><a href="/qb-admin">Admin</a></li>
    {{/if_eq}}
    <li><a href="/quilts">View quilts</a></li>
    <li><a href="/quilts/create">Create a quilt</a></li>
    <li><a href="/account/logout">Logout</a></li>
  </ul>
  {{/if}}

  {{#if quilts}}
  <h3><a href="/account/quilts">My Quilts</a></h3>
  <ul>
    {{#each quilts}}
      <li><a href="/quilts/view/{{id}}">{{title}}</a>&nbsp;[{{type}}]</li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if patches}}
    <h3><a href="/account/patches">My Squares</a></h3>
    <ul>
      {{#each patches}}
        {{#if_eq status 'complete'}}
          <li>Square in <a href="/patch/view/{{uid}}">{{_quilt.title}}</a> [{{status}}] <a href="/patch/edit/{{uid}}">Edit</a></li>
        {{/if_eq}}
        {{#if_eq status 'progress'}}
          <li>Square in <a href="/patch/edit/{{uid}}">{{_quilt.title}}</a> [{{status}}]</li>
        {{/if_eq}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if userdata}}
  <ul>
    <li>{{userdata.email}}</li>
    <li>{{userdata.username}}</li>
    <li>{{userdata.password}}</li>
  </ul>
  {{/if}}

  {{#if userlist}}
  <ul>
    {{#each userlist}}
      <li>{{username}}&nbsp;({{email}})</li>
    {{/each}}
  </ul>
  {{/if}}