{{#section 'footer'}}
  <script src="/js/home.min.js"></script>
{{/section}}

<div id="quilt-container" class="home">
  <div class="quilt-container">
    <div id="canvas-container" class="canvas-container">
      <div class="canvas-overlay" id="canvas-overlay">
        <div class="square-example">
          <div class="plus-container">
            {{>svg/plus }}
          </div>
        </div>
        <p>Select an open square <span class="soft-break"></span>to start designing.</p>
      </div>
      <div class="grid-spacer" id="grid-spacer"></div>
      <div class="patch-preview" id="patch-preview"></div>
      <canvas id="grid-area" class="grid-area"></canvas>
    </div>
  </div>
</div>

<div id="quilt-nav-container">
  <button class="btn btn-outline-primary quilt-nav nav-prev" data-value="prev">
    <span class="icon icon-chevron-left"></span>
  </button>
  <ul class="quilt-list">
    {{#each quilts}}
      {{>quilt-data this }}
    {{/each}}
  </ul>
  <button class="btn btn-outline-primary quilt-nav nav-next" data-value="next">
    <span class="icon icon-chevron-right"></span>
  </button>
</div>

<div id="quilt-thumbnails-container">
  <ul id="quilt-thumbnails">
    <li class="quilt-thumbnail new">
      <a href="{{#if user}}/quilts/create{{else}}/login-signup/#login{{/if}}" class="thumb new" data-index="-1" data-title="New"></a>
    </li>
    {{#each quilts}}
      <li class="quilt-thumbnail{{#if_eq @index 0}} active{{/if_eq}}">
        <a href="/quilts/view/{{id}}" class="thumb" data-index="{{@index}}" data-quilt-id="{{id}}" data-title="{{title}}"></a>
      </li>
    {{/each}}
  </ul>
</div>

<div class="user-menu">
  {{#if user}}

    <h2>Welcome {{user.username}}</h2>
    <ul>
      <li><a href="/account">Account</a></li>
    </ul>

  {{else}}
    {{>login-menu }}
  {{/if}}
</div>
