
  <h1>Quilting Bee</h1>
  <h2>Some are born great, some achieve greatness, and some have greatness thrust upon them.</h2>
  <p>A creative community with a common goal.</p>

  <div id="quilt-container">
    <ul>
      {{#each quilts}}
        {{#if_eq type 'public'}}
          <li class="quilt" data-title="{{title}}" data-uid="{{id}}">
            <a href="/quilts/view/{{id}}">{{title}}</a>
            {{#if quiltData}}
              <div class="data" id="quilt-data">
                {{quiltData}}
              </div>
            {{/if}}
          </li>
        {{/if_eq}}
      {{/each}}
    </ul>
  </div>

  {{#if user}}

    <h2>Welcome {{user.username}}</h2>
    <ul>
      <li><a href="/account">Account</a></li>
    </ul>

  {{else}}

    {{>login-menu }}

  {{/if}}